@import '../../scss/var';
.ui-form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: .5em 30rpx;
    &.disabled {
        .ui-form-title,
        .ui-form-content,
        .ui-form-action {
            pointer-events: none;
        }
    }
    .ui-form-title {
        text-align: justify;
        font-size: 1.1em;
        position: relative;
        padding-left: 0;
        display: flex;
        align-items: center;
        margin-right: 30rpx;
        &.self-start{
            min-height: 2.6572em;
            align-self: flex-start;
        }
        .ui-form-icon {
            margin: 0 0.28572em 0 0;
            transform: scale(1.2);
        }
        .ui-form-required {
            position: relative;
            color: $red;
            font-size: 20px;
            top: -0.4em;
            right: 0em;
        }
    }
    .ui-form-content {
        flex: 1;
        // background-color: var(--ui-BG-1);
        // padding: 0 1em;
        border-radius: $radius;
        display: flex;
        align-items: center;
        min-height: 3em;
    }
    .ui-form-action {
        margin-left: 1em;
    }
    &::after {
        content: ' ';
        width: 200%;
        left: 0rpx;
        position: absolute;
        top: 0;
        box-sizing: border-box;
        height: 200%;
        border-top: 1px solid var(--ui-Border);
        border-radius: inherit;
        transform: scale(0.5);
        transform-origin: 0 0;
        pointer-events: none;
    }
    &.first-item::after {
        display: none;
    }
}