.ui-fixed {
    .ui-fixed-box {
        position: relative;
        width: 100%;
        &.fixed {
            position: fixed;
            z-index: 10000!important;
        }
        .ui-fixed-content {
            position: relative;
            //z-index: 11;
        }
        .ui-fixed-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            z-index: 10000;
            pointer-events: none;
        }
        .ui-fixed-bottom{
            height: calc(constant(safe-area-inset-bottom) / 5 * 3);
            height: calc(env(safe-area-inset-bottom) / 5 * 3);
        }
    }
}